<a href="https://colab.research.google.com/github/tkddbs369369/python/blob/main/1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **학습목표**
1. python에서 변수의 의미 이해 
2. 기본 데이터 타입 선언
  - int, float, str, bool

## = 대입 연산자
- 오른쪽 수식이나 값을 계산한 후 왼쪽에 명시된 변수에 해당 값을 대입
- 변수는 해당 값을 가짐

In [ ]:
a = 10 #int
b = 11.4 #float

## **주석**

- 코드에서 #으로 시작하는 뒷부분
- 파이썬에서는 소스코드를 실행할 떄 #을 만나면 무시
- 주석 용도로 사용

In [ ]:
#this line is very important
#so don't delete it
math = 75

## **변수값 확인법**
- print()사용
- 코드의 마지막에 변수 값을 위치시킨 후 실행

In [ ]:
a = 10
b = 11.4
print(a,b)
print(a)
a,b

10 11.4
10

(10, 11.4)

### ***print 함수***
- 함수란 특정 기능을 반복적으로 호출하여 사용가능한 코드 블럭
- ,로 여러 변수를 한줄에 출력
- 기본적으로 한칸 띄어쓰기 후 출력

In [ ]:
print(a,b)
print(a , 10, 200, b)
print('민재 맛있니')

** print 함수 설정**
- sep(구분자):각 변수 사이에서 구분해주는 역할
- end:마지막에 출력할 문자열

In [ ]:
print(a,b,200,'대충이름',sep='#',end='!!')

10#11.4#200#대충이름!!