<a href="https://colab.research.google.com/github/tkddbs369369/python/blob/main/211019%EC%A4%91%EA%B0%84%EA%B3%A0%EC%82%AC_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1. 파이썬 변수로 사용할 수 없는 것은
_num = 1
num = 2
num1 = 3
#2num = 4
#변수를 선언할떄 맨 앞에 숫자는 올 수 없다!
n_um = 5

In [2]:
#2. 각 변수에 저장된 최종 값은?
sum = 0
n1 = 10
n1 = n1 + 10
n2 = 20
sum = n1 + n2

n1, n2, sum

(20, 20, 40)

In [3]:
#3.  적절한 연산자 찾기

print(17 // 4)
print(17 / 4)
print(17 % 4)

4
4.25
1

In [4]:
#4. 다음 데이터 타입

age = 17
st = '나이'
tu = (17,'나이')
type(age) , type(st) , type(tu) , type(type(st))

(int, str, tuple, type)

In [5]:
#5. 다음 인덱스

s = 'Hello Hanyang!'

s[5],s[-5]

(' ', 'y')

In [6]:
#6. upper

s = 'Hello Hanyang!'
print(s)
s = s.upper()
print(s[:8])

Hello Hanyang!
HELLO HA

In [7]:
#7. 여러 대이터를 다루는 파이썬의 자료형
# 리스트, 튜플, 딕셔너리, 셋

In [8]:
#8. 

a = ['a',1,'python',(1,2),"2",[1,2] ]

print(a[3])
print(1 in a, 2 in a)

(1, 2)
True False

In [9]:
# 10. 
nums = list(range(4))
print(nums)
nums.insert(3,100)
nums

[0, 1, 2, 3]

[0, 1, 2, 100, 3]

In [10]:
#11.

a = 100
b = 200

a,b = b,a

a,b

(200, 100)

In [11]:
#12 . dictionary
a = {'han':1, 1:2, "1":3}
print(a)
a[1] = 'yang'
print(a)

{'han': 1, 1: 2, '1': 3}
{'han': 1, 1: 'yang', '1': 3}

In [12]:
# 13. set
b = set('Hello')

print(b)

{'e', 'l', 'o', 'H'}

In [13]:
# 14~15
room = [[0,0,1,0,9],
        [1,0,1,0,1],
        [0,1,1,1,9]]

mouse = room[0][2]

if mouse == 1:
  print('cheese')
elif mouse == 9:
  print('trap')
else:
  print('nothing')

cheese

In [14]:
# 16 ~ 17

a_score = 0
b_score = 0

for i in range(3,9):
  if i % 2 == 0 and i % 3 ==0:
    continue
  elif i % 2 == 0:
    a_score += 1
  elif i % 3 == 0:
    b_score += 1


print(a_score,b_score)

2 1

In [16]:
# 18 ~ 20

print("----------민재나라현식공주----------")
print("MENU")
print('매뉴번호 1.햄버거(300원) 2.피자(500원) 3.치킨(700원)')
print("="*35)




money = int(input('투입 금액 : '))
menu = int(input('매뉴번호를 입력해주세용 : '))

if menu == 1:
  money -= 300
elif menu == 2:
  money -= 500
elif menu == 3:
  money -= 700

if money < 0:
  print("돈 더 주 셈")
else:
  won10000 = money//10000
  won5000 = (money%10000)//5000
  won1000 = ((money%10000)%5000)//1000
  won500 = (((money%10000)%5000)%1000)//500
  won100 = ((((money%10000)%5000)%1000)%500)//100
  print("거스름돈: 만원 {} 개".format(won10000))
  print("거스름돈: 오천원 {} 개".format(won5000))
  print(f"거스름돈: 천원 {won1000}개")
  print(f"거스름돈: 오백원 {won500}개")
  print(f"거스름돈: 백원 {won100}개")

----------민재나라현식공주----------
MENU
매뉴번호 1.햄버거(300원) 2.피자(500원) 3.치킨(700원)
===================================
투입 금액 : 15300
매뉴번호를 입력해주세용 : 3
거스름돈: 만원 1 개
거스름돈: 오천원 0 개
거스름돈: 천원 4개
거스름돈: 오백원 1개
거스름돈: 백원 1개