<a href="https://colab.research.google.com/github/tkddbs369369/python/blob/main/3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = str('123')
b = ' \' 안녕 \' " test " '
print(b)

 ' 안녕 ' " test "

##**문자열(String)**
- 여러 개의 문자를 순서대로 나열한 것
- 문자dufdms '' 혹은 ""사이에 문자를 넣어서 사용
- 문자열 자체에 " ' 가 있는경우 반대의 기호를 생성

##**이스케이프 문자(escape)**
- 문자열 내의 문자의 의미를 달리하여 특정한 효과
- enter ,tab
- \n (다음줄)
- \t (tap)

In [ ]:
print('안녕하세요 \n 제 이름은 \t \'박상윤\'일껄요 \t 직업은  읎어요')

안녕하세요
 제 이름은 	 '박상윤'일껄요 	 직업은  읎어요

##**문자열의 인덱스(index) 및 추출**
- 문자열의 각 문자는 순서가 있음 '인덱스'
- 첫번째 문자부터 마지막까지 차례대로 순서를 가짐
#- 시작은 0부터

In [ ]:
a = 'hello world!' #번호는 11번까지
print(len(a)) #길이
print(a[0] , a[4])

12
h o

##**-1 인댁스**
- 다른 언어와 달리 python만의 특징 (음수의 index지원)
- -1이 가장 오른쪽 문자 -2가 오른쪽에서 두번째 문자를 나타냄
- 범위를 벗어나면 Error

In [ ]:
print(a[-1], a[-11]) 
#print(a[13])# 범위를 벗어나면 error

! e

## **문자열 슬라이싱(slicing)**
- index로 추출할 떄는 한글자만 추출 한다면.
- 슬라이싱은 부분적으로 문자열을 추출한다.
- 만약 시작이나  끝이 생략되어 있다면 0부터 혹운 끝까지로 간주해 추출

In [ ]:
print(a[3:10])
print(a[:10])
print(a[3:])

lo worl
hello worl
lo world!

##**문자열의 내장함수**
- 문자열에 어려가지 기능을 제공

In [ ]:
a.upper()
a.replace('H','J')
a.replace('hello','i')
print(len(a))
print(a.count('l'))
print(a.find('w'))  #없을떄 -1 반환
print(a.index('w'))  #없을떄 error출력
print(a.lower())
print(a.upper())
b = '!'.join(a)
print(b)

12
3
6
6
hello world!
HELLO WORLD!
h!e!l!l!o! !w!o!r!l!d!!

## **format**
- 문자열내의 특정한 값을 변수로 부터 초기화하여 동적으로 문자열을 생성

In [ ]:
temp = 23
per= 70
n = '현재기온은 {}이고. 비올 확율은 {}%입니다.'.format(temp,per)
n1 = f'현재기온은 {temp}이고. 비올 확율은 {per}%입니다.'
print(n)
print(n1)
cla = 3
n2 = f'현재 프로그래밍 시간은 {cla}교시이다'
print(n2)

현재기온은 23이고. 비올 확율은 70%입니다.
현재기온은 23이고. 비올 확율은 70%입니다.
현재 프로그래밍 시간은 3교시이다

##**split**
- 문자열을 특정한 문자로 구분하여 문자열 치환

In [ ]:
a = 'what a wonderful day! nice weather'
a.split('w')

['', 'hat a ', 'onderful day! nice ', 'eather']