<a href="https://colab.research.google.com/github/tkddbs369369/python/blob/main/5_%EB%B0%98%EB%B3%B5%EB%B6%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**학습목표**
- 반복문의 이해 (for)
- range 함수 이해

###**for 반복문**
- 리스트 ex)[1,2,3,4]
- 리스트 문자열 등등 순회를 하면서 값을 처리할 때 사용
- i는 매번 수행때마다 a리스트 안의 값으로 순차적으로 변경된다.
- 모든 a 안의 값이 수행되면 for 문의 블록이 종료된다.

In [4]:
a = [1,2,3,4,5] #list

for i in a:
  print(i,i*2)
print('최종i값:',i)

1 2
2 4
3 6
4 8
5 10
최종i값: 5

In [6]:
#문자열의 아이템 출력
 
for x in 'hello Comnet A':
  print(x)

h
e
l
l
o

C
o
m
n
e
t

A

In [8]:
a = [1,10,8,29,18] #짝수와 홀수
for i in a:
  if i % 2 == 0:
    print(i//2) # 2로 나눈다. (정수만 출력)
  else: #홀수
    print(i*2) #2를 곱한다

2
5
4
58
9

In [9]:
# 첫줄에 테스트 케이스가 주어지고
# 두번째 줄부터 나오는 수를 입력받아
# 테스트 케이스만큼 각수를 더하는 문제

a = int(input())

for a in range(a):
    c, b = input().split()
    c = int(c)
    b = int(b)
    print(c + b)

3
1 2
3
5 1
6
2 3
5

### **break, continue**
* break
- 특정 조건을 만족할 떄, 블록을 빠져나오기 위해서 사용

In [10]:
a = [1,10,8,29,18]

for i in a:
  if i > 20:
    break
  print(i)

1
10
8

## **continue**
- 조건문으로 돌아감

In [11]:
a = [3,9,7,29,18]

for i in a:
  if i>5 and i<20:
    continue
  print(i)

3
29

In [13]:
#a 리스트가 있을때
# 짝수는 *2 홀수는 skip   0은 종료하라
a = [3, 2, 5, 10 ,2 , 3, 12 ,3 ,4 ,0 ,2 ,4]

for i in a:
    if i == 0:
        break
    elif i % 2 == 1:
        continue
    else:
        print(i * 2)

4
20
4
24
8

### **range 함수**
- list or tuple을 쉽게만들수있는 함수
- 주어진 값에 따라 다향한 결과를 반환
```python
range(10)     [0,1,2,3,4,5,6,7,8,9]
range(2,10)   [2,3,4,5,6,7,8,9]
renge(2,10,3) [2,5,8]
```

In [16]:
list(range(10))
list(range(2,10))
list(range(2,10,3))

[2, 5, 8]

#### **구구단 출력하기**
- 2단부터 9단까지
- 각 단은 1부터 9까지 곱하도록

In [17]:
for i in range(2,10):
    for a in range(2,10):
        print(f' {i} * {a}는 {i * a} ',end="")  # end="" 줄 붙여 쓰기

    print("") # 2단,3단 별로 줄 띄어쓰기

 2 * 2는 4  2 * 3는 6  2 * 4는 8  2 * 5는 10  2 * 6는 12  2 * 7는 14  2 * 8는 16  2 * 9는 18
 3 * 2는 6  3 * 3는 9  3 * 4는 12  3 * 5는 15  3 * 6는 18  3 * 7는 21  3 * 8는 24  3 * 9는 27
 4 * 2는 8  4 * 3는 12  4 * 4는 16  4 * 5는 20  4 * 6는 24  4 * 7는 28  4 * 8는 32  4 * 9는 36
 5 * 2는 10  5 * 3는 15  5 * 4는 20  5 * 5는 25  5 * 6는 30  5 * 7는 35  5 * 8는 40  5 * 9는 45
 6 * 2는 12  6 * 3는 18  6 * 4는 24  6 * 5는 30  6 * 6는 36  6 * 7는 42  6 * 8는 48  6 * 9는 54
 7 * 2는 14  7 * 3는 21  7 * 4는 28  7 * 5는 35  7 * 6는 42  7 * 7는 49  7 * 8는 56  7 * 9는 63
 8 * 2는 16  8 * 3는 24  8 * 4는 32  8 * 5는 40  8 * 6는 48  8 * 7는 56  8 * 8는 64  8 * 9는 72
 9 * 2는 18  9 * 3는 27  9 * 4는 36  9 * 5는 45  9 * 6는 54  9 * 7는 63  9 * 8는 72  9 * 9는 81

In [ ]:
####### 연습한 코드


################################     10950 for로 풀기
a = int(input())
for a in range(a):
    c, b = input().split()
    c = int(c)
    b = int(b)

    print(c + b)

a = int(input())
count = 0

################################     10950 while로 풀기
while count < a:
    count = count + 1
    c, b = map(int, input().split())
    c = int(c)
    b = int(b)

    print(c + b)

a = [3, 2, 5, 10 ,2 , 3, 12 ,3 ,4 ,0 ,2 ,4]

for i in a:
    if i == 0:
        break
    elif i % 2 == 1:
        continue
    else:
        print(i * 2)
        
        


 #구구단
for i in range(2,10):
    for a in range(2,10):
        print(f' {i} * {a}는 {i * a} ',end="") #줄 이어쓰기

    print("") #단 단위로 띄어쓰기