<a href="https://colab.research.google.com/github/tkddbs369369/python/blob/main/6_%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%83%80%EC%9E%85(list%2Ctuple).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 학습목표

- 여러개의 값을 담을수있는 데이터 구조
-

## **list와 tuple**
- list : mutable (변경가능)
- tuple : immutable (불변)

In [ ]:
a = ['컴네', 'A', '1학년', 10,20,[2,3]] #값을 담아서 생성
print(a)

['컴네', 'A', '1학년', 10, 20, [2, 3]]

In [ ]:
a = 'hello comnet A'
b = list(a) #list()함수로 리스트 생성  
print(b)    #다른 단일 문자열을 리스트로 변환할 떄 사용 가능
c = list()   
c.append(a)
print(c)
b = a.split('o') #매개변수를 기준으로 쪼개짐 but 없으면 공백을 기준

['h', 'e', 'l', 'l', 'o', ' ', 'c', 'o', 'm', 'n', 'e', 't', ' ', 'A']
['hello comnet A']

['hell', ' c', 'mnet A']

### **리스트 indexing**

- []연산자를 이용해 항목을 가져온다.
- [n] : n번쨰 원소를 반환한다.
- i가 음수면, 마지막 원소에서 -1로 하여 가져온다.

In [ ]:
a = list(range(1,11)) #[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(a[0], a[2])
print(a[-1], a[-2], a[-3])
print(a[10]) #오류

1 3
10 9 8
10

In [ ]:
#인덱스 접근 후 업데이트
a = 'hello comnet A'
b = a.replace('A', "B")
c = 'j'+a[1:]
print(b)
print(c)

a = list(range(1,11)) #[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a[0] = 100
a[-1] = 90

print(a)

hello comnet B
jello comnet A
[100, 2, 3, 4, 5, 6, 7, 8, 9, 90]

### **리스트 슬라이싱**
- 슬라이싱 결과 리스트
- 문자열과 동일하게 동작

In [ ]:
a = list(range(1,11)) #[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(a[3:7])
print(a[:7])
print(a[3:])
print(a[:])
print(a[1:7:2])

[4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6]

###**리스트 멤버 함수**
- 생선된 리스트에 동작하는 함수
- append() : 덧부치다
- extend() : 연장 (+=)
- insert() : 원하는 위치에 추가가능

- remove() : 값으로 항목을 삭제
- pop() : index로 지우고자 하는 아이템을 **반환 후** 삭제
- index() : 찾고자 하는 값을 인덱스를 반환

In [ ]:
a= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a.append(10)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10]

In [ ]:
b = [11,12,14,15,16]
a.extend(b) # +=
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, '213', '123', 11, 12, 14, 15, 16, 11, 12, 14, 15, 16]

In [ ]:
a = list(range(1,17))
a.insert(5,20)
print(a)

[1, 2, 3, 4, 5, 20, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [ ]:
a = [1,2,3,4,5,20,20,10,11,12,13,14,15]
a.remove(20)
print(a)

[1, 2, 3, 4, 5, 20, 10, 11, 12, 13, 14, 15]

In [ ]:
a = [1,2,3,4,10,11,13,12,14,15]



c = a.pop(4)

print(c)

10

In [ ]:
a = [2, 6, 7, 9, 10]
a.index(2)

0

### **in 키워드**
- 리스트 내에 해당 값이 존재하는지
- True or False로 반환
- 값 in [list]

In [ ]:
a = [1,2,3,4,5,6,7]
b = 5
c = 10

print(b in a)
c in a

True

False

**list 정렬**
- sort() : list 자체를 외부적으로 정렬
- sorted() : 정렬된 리스트의 복사본을 반환

In [92]:
a = [4,3,5,8,6,9,8,99,9,8,7,12,1,3,2,87321645,6,565,4874,8454,31456,456684876,486132654,87978456,4567897,45]
a.sort()
print(a)

a = [4,3,5,8,6,9,8,99,9,8,7,12,1,3,2,87321645,6,565,4874,8454,31456,456684876,486132654,87978456,4567897,45]
b = sorted(a)
print(a,b ,sep = '\n')

[1, 2, 3, 3, 4, 5, 6, 6, 7, 8, 8, 8, 9, 9, 12, 45, 99, 565, 4874, 8454, 31456, 4567897, 87321645, 87978456, 456684876, 486132654]
[4, 3, 5, 8, 6, 9, 8, 99, 9, 8, 7, 12, 1, 3, 2, 87321645, 6, 565, 4874, 8454, 31456, 456684876, 486132654, 87978456, 4567897, 45]
[1, 2, 3, 3, 4, 5, 6, 6, 7, 8, 8, 8, 9, 9, 12, 45, 99, 565, 4874, 8454, 31456, 4567897, 87321645, 87978456, 456684876, 486132654]

In [93]:
a.sort(reverse=True)
print(a)

[486132654, 456684876, 87978456, 87321645, 4567897, 31456, 8454, 4874, 565, 99, 45, 12, 9, 9, 8, 8, 8, 7, 6, 6, 5, 4, 3, 3, 2, 1]

### **튜블(tuple)**

- 리스트와 같이 여러개의 값을 갖는 데이터 컬렉션 타임
- 생성된 후 변경이 불가능

In [90]:
a = [1,2,3]
b = (1,2,3)

print(type(a))
print(type(b))

a[0] = 100
print(a)


#b[0] = 100 #오류
print(b) #오류

<class 'list'>
<class 'tuple'>
[100, 2, 3]
(1, 2, 3)

In [94]:
a,b,c,d = 10,20,30,40
print(a,b,c,d)

10 20 30 40

In [98]:
a = 5
b = 4

#문제 b = 5 , a = 4가 a,b의 값을 해보세요


# 기초방법
temp = a
a = b
b = temp
print(a,b)

#심화 방법    <<<<<<<<<<<<<<<<<< 신! 기! 하! 다!
a,b = b,a

print(a,b)

4 5
5 4