<a href="https://colab.research.google.com/github/tkddbs369369/python/blob/main/7_%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%83%80%EC%9E%85(dict%2Cset).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 학습목표
- dictionary, set에 대해 이해하기

# dictionary
- key와 value를 가지는 데이터 구조
- key는 내부적으로 hash값으로 저장
- 순서를 따지지 않음

In [50]:
a = {"korea":'seoul', 
     'Chanada':'Ottawn',
     'USA':'washington D.C'}

b = {0:1, 1:6, 7:9, 8:10}

print(a['korea'])
#print(a['japan']) 오류
print(b[0])
#print(b[3])  오류

seoul
1

### **항목 추가 및 변경**

- 기존에 키가 존재하면, 새로운 값으로 업데이트
- 기존에 키가 존재하지 않으면 새로운 키 값으로 생성

In [51]:
a['Japan'] = 'Tokyo'
a['Japan'] = 'Osaka'
a['China'] = 'Beijing'

print(a)

{'korea': 'seoul', 'Chanada': 'Ottawn', 'USA': 'washington D.C', 'Japan': 'Osaka', 'China': 'Beijing'}

- update()
  - 두 딕셔너리를 병합
  - 겹치는 키가 있다면, 전달되는 값이 업데이트

In [52]:
a = {'a':'apple', 'b':'bus', 'c':'car'}
b = {'a':'ant',"b":'dog',"e":"egg"}

a.update(b)
print(a)

{'a': 'ant', 'b': 'dog', 'c': 'car', 'e': 'egg'}

## key 삭제
- del 키워드
- pop 함수 이용

In [53]:
a = {'a':1,"b":2,"c":3}
print(a)

d = a.pop('b')
print(a)
print(d)

del a['c']
print(a)

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'c': 3}
2
{'a': 1}

## clear()
- 딕셔너리 값을 모두 초기화

In [54]:
a['add'] = 3

print(a)

a.clear()

print(a) #삭제됨

{'a': 1, 'add': 3}
{}

# in 
- key 값 존재 확인

In [55]:
a = {'a':1,"b":2,"c":3}
print(2 in a)
print('a' in a)

a = {'a':1,"b":2,"c":3}
#print(a['d']) 오류
print(a.get('d'))

False
True
None

- dict[key]로 접근, 키가 없는 경우에는 에러
- .get() 함수로 접근, 키가 없는 경우에도 프로그램 실행 -> None 반환

# 모든 keys, value접근
- keys() 키만 반환
- value() 값만 반환
- items() 키,값을 튜플로 반환

In [56]:
a = {'a':1,"b":2,"c":3}

print(a)
print(a.keys())
print(a.values())
print(a.items())

{'a': 1, 'b': 2, 'c': 3}
dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])

## set
- dictionary에서 key값만 활용한 데이터 구조 {}
- 중복이 허용되지 않는 구조

In [57]:
a = {1,2,2,2,3,1,4,5,1,5,4,1,2}
print(a)

{1, 2, 3, 4, 5}

In [58]:
a = [1,2,2,3,1,2,3,1,2,3,3,4,1,2,3,1,4,1,2,2,3,1,3]
print(a)

b = set(a)
print(b)

[1, 2, 2, 3, 1, 2, 3, 1, 2, 3, 3, 4, 1, 2, 3, 1, 4, 1, 2, 2, 3, 1, 3]
{1, 2, 3, 4}

In [59]:
a = {1,2,3}
b = {2,3,4}

print(a.union(b)) #합집합
print(a.intersection(b)) #교집합
print(a.difference(b)) #차집합

{1, 2, 3, 4}
{2, 3}
{1}