<a href="https://colab.research.google.com/github/tkddbs369369/python/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **학습목표**
1. python에서 변수의 의미 이해 
2. 기본 데이터 타입 선언
  - int, float, str, bool  

시험 = 함수(교과서 출재)

## = 대입 연산자
- 오른쪽 수식이나 값을 계산한 후 왼쪽에 명시된 변수에 해당 값을 대입
- 변수는 해당 값을 가짐

In [ ]:
a = 10 #int
b = 11.4 #float

## **주석**

- 코드에서 #으로 시작하는 뒷부분
- 파이썬에서는 소스코드를 실행할 떄 #을 만나면 무시
- 주석 용도로 사용

In [ ]:
#thon line is very important
#so don't delete it
math = 75

## **변수값 확인법**
- print()사용
- 코드의 마지막에 변수 값을 위치시킨 후 실행

In [18]:
a = 10
b = 11.4
print(a,b)
print(a)
a,b

10 11.4
10

(10, 11.4)

### ***print 함수***
- 함수란 특정 기능을 반복적으로 호출하여 사용가능한 코드 블럭
- ,로 여러 변수를 한줄에 출력
- 기본적으로 한칸 띄어쓰기 후 출력

In [17]:
print(a,b)
print(a , 10, 200, b)
print('민재 맛있니')

6 4
6 10 200 4
민재 맛있니

** print 함수 설정**
- sep(구분자):각 변수 사이에서 구분해주는 역할
- end:마지막에 출력할 문자열

In [16]:
print(a,b,200,'대충이름',sep='#',end='!!')

6#4#200#대충이름!!

##**변수 이름 규칙**

- 시작을 영문 대소문자_ 구성가능
- BUT 숫자는 불가능
- 일반적으로 변수를 사용할 떄 정확하고 간결한 이름을 사용하는 것이 원칙

In [ ]:
___abc = 1000
abcABC = 100
ACBV = 100

#4ever = 44

# **예약어(키워드)**

-파이썬에서 미리 사용중인 키워드
-import for while if 등

In [ ]:
_for = 123
#for = 321

## **기본 데이터 타입**

- 실수(float)

- 정수(int) 

- 문자열(str)

- 불리언(bool)

- type() 함수
  - 해당변수,값을 타입(type)을 알고자 할 떄 사용

In [ ]:
aa = 100
v = 11.3
c = '문자열'


print(v)

11.3

## **NONE**
- 아무런 값을 갖지 않을 때 사용
- 일반적으로 변수가 초기값을 갖지 않게 하기 위해 사용
- NULL값과 같은 의미

In [ ]:
o = None
print(o)

None

##**비교연산자**
- 프로그래밍에서 비교를 할경우 사용한다.
- .> ,<(작다,크다)
- <=,>= (작거나 같다, 크거나 같다)
- == (같다)
- =! (같지 않다)
= 비교연산자 결과는 Bool( 참 , 거짓 )

In [20]:
a= 5
b= 4
print(a>b)
print(b>a)
print(a >= b)
print(a==b)
print(a!=b)

True
False
True
False
True

## **기본연산자**

In [21]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

9
1
20
1.25
1
625

##**연산자 우선순위
- 기본적으로 수학의 연산자와 동일
- 강제로 연산을 먼저하기 위해서는 ()사용

In [ ]:
print(a+b*@)
print((a+b)*2)